.dx-helper .demo {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding: 16px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  margin-bottom: 16px;
  background-color: #858383;
}

.dx-helper .demo .button,
.dx-helper .demo .form {
  text-decoration: none;
}

.dx-helper .demo a {
  text-decoration: none;
}

.dx-helper .demo .button {
  margin: 0;
}

.dx-helper .demo .field-group {
  width: 100%;
}

.vp-doc a {
  text-decoration: none;
}